{% extends "base.html" %}

{% block title %} Bmail | Sent {% endblock %}

{% block heading %} Status {% endblock %}

{% block content %}

    <table class="table">
      <thead class="thead-inverse">
        <tr>
            <th>To</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
      </thead>

    {% for message in messages %}

      <tbody>
        <tr>
            <td>{{ message.recipient }}</td>
            <td>{{ message.subject }}</td>
            <td>{{ message.message }}</td>
            <td>{{ message.date.strftime("%d.%m.%Y at %H:%M") }}</td>
        </tr>
      </tbody>

    {% endfor %}

</table>
{% endblock %}

