body {
    background-image: url("http://gzhaixier.com/data/out/234/44978636-wallpaper-blue.jpg");
}

h1 {
    text-align: center;
}

h2 {
    font-family: Georgia;
    font-size: 24px;
    text-align: center;
    background-color: lightblue;
}

